@media screen and (max-width: 576px) {
    .hide {
        display: inline-block;
    }
    .hidden-on-mobile {
        display: none;
    }
    .header,
    .main {
        padding: 0px;
    }
    /* 🌟<== <<<<<< <==>  Navbar Styles  <==> >>>>>> ==>🌟 */
    .navbar {
        padding-right: 15px;
        padding-bottom: 10px;
    }
    .nav-ham-menu,
    .nav-hr {
        display: contents;
    }
    .nav-ham-menu i {
        font-size: 1.5rem;
    }
    .nav-hr hr {
        border-top: 1px solid rgb(254, 163, 1);
    }
    /* 🔥=== === === === === ===  === === === === === ===🔥 */
    /* 🌟<== <<<<<< <==>  Banner Styles  <==> >>>>>> ==>🌟 */
    .banner-container {
        margin-top: 20px;
        flex-direction: column-reverse;
        padding: 0px 20px;
        gap: 15px;
    }
    .banner-header,
    .banner-info,
    .banner-btn {
        text-align: center;
    }
    .banner-header {
        font-size: 2rem;
    }
    .banner-info {
        font-size: 0.9rem;
    }
    .banner-btn button {
        font-size: 1rem;
        padding: 10px 20px;
    }
    .banner-image img {
        width: 100%;
    }
    /* 🔥=== === === === === ===  === === === === === ===🔥 */
    /* 🌟<== <<<< <==>  Curriculum Styles  <==> >>>> ==>🌟 */
    .curriculum-container {
        background: url(../assets/bg.png);
        background-size: auto;
        padding-top: 60px;
    }
    .curriculum-cards-container {
        padding: 0px 20px;
        margin-top: 20px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .curriculum-container > h3 {
        font-size: 1.6rem;
    }
    .curriculum-button {
        display: none;
    }
    /* 🔥=== === === === === ===  === === === === === ===🔥 */
    /* 🌟<== <<<< <==>  Stories Styles  <==> >>>> ==>🌟 */
    .stories-container {
        padding: 80px 10px 60px 10px;
    }
    .stories-header {
        margin-bottom: 30px;
    }
    .stories-header {
        font-size: 2.25rem;
    }
    .stories-cards-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }
    .stories-btn {
        margin-top: 30px;
    }
    .story-card-btn button {
        font-size: 0.7rem;
        padding: 8px 10px;
        top: -14px;
        right: -20px;
    }
    .story-title {
        color: rgb(0, 0, 0);
        font-size: 0.7rem;
        line-height: 17px;
        padding: 0px 10px 15px 20px;
    }
    /* 🔥=== === === === === ===  === === === === === ===🔥 */
    /* 🌟<== <<<< <==>  Footer Styles  <==> >>>> ==>🌟 */
    .footer {
        grid-template-columns: 1fr;
        padding: 80px 20px;
        gap: 50px;
    }
}
