@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* 🌟<== === Shared Styles === ==>🌟 */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header,
.main {
    max-width: 1920px;
    margin: 0 auto;
}
.primary-font {
    font-family: "Quicksand", serif;
    font-style: normal;
}
.secondary-font {
    font-family: "Raleway", serif;
}
/* 🔥=== === === === === === === === === === === === ===🔥 */
/* 🌟<== <<<<<<<< <==>  Navbar Styles  <==> >>>>>>>> ==>🌟 */
.header {
    margin-top: 20px;
    padding: 0px 120px;
}
.navbar {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-brand {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-header {
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
}
.nav-links {
    display: flex;
    gap: 32px;
}
.nav-links li {
    list-style: none;
}
.nav-links li a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
#nav-home {
    font-weight: 700;
    color: rgb(254, 163, 1);
}
#nav-about {
    color: rgb(1, 172, 253);
}
#nav-facilities {
    color: rgb(5, 212, 223);
}
#nav-admission {
    color: rgb(93, 88, 239);
}
.nav-btn button {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    padding: 10px 60px;
}
.nav-ham-menu,
.nav-hr {
    display: none;
}
/* 🔥=== === === === === === === === === === === === ===🔥 */
/*🌟<== <<<<< <==>  Banner section Styles  <==> >>>>> ==>🌟*/
.banner-container {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}
.banner-header {
    font-size: 3.5rem;
    font-weight: 700;
    color: rgb(17, 17, 17);
    margin-bottom: 24px;
}
#orange {
    color: rgb(254, 163, 1);
}
#blue {
    color: rgb(1, 172, 253);
}
.banner-info {
    font-size: 1.25rem;
    font-weight: 400;
    color: rgb(17, 17, 17);
    margin-bottom: 24px;
}
.banner-btn button {
    background-color: rgb(17, 17, 17);
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    padding: 10px 45px;
}
/* 🔥=== === === === === === === === === === === === ===🔥 */
/*🌟<== <<< <==>  Curriculum section Styles  <==> >>> ==>🌟*/
.curriculum-container {
    background: url(../assets/bg.png);
    background-size: contain;
    padding-top: 50px;
    background-position-x: -80px;
}
.curriculum-container > h3 {
    font-size: 2.85rem;
    font-weight: 700;
    text-align: center;
}
.curriculum-cards-container {
    padding: 0px 120px;
    margin-top: 80px;
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
}
.curriculum-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 52px 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.05);
}
.curriculum-card-title {
    color: rgb(32, 32, 32);
    font-size: 1.57rem;
    font-weight: 700;
    text-align: center;
}
.curriculum-card-info {
    color: rgb(128, 128, 128);
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 28.3px;
    text-align: center;
}

.curriculum-card-btn button {
    font-size: 0.9rem;
    font-weight: 700;
    background: none;
    border: none;
}
#curriculum-card-1 {
    background: linear-gradient(
        to bottom,
        rgb(222, 245, 255),
        rgba(255, 255, 255, 0),
        white
    );
    border: 2px solid rgb(222, 245, 255);
}
#curriculum-card-1 button {
    color: rgb(100, 200, 255);
}
#curriculum-card-2 {
    background: linear-gradient(
        to bottom,
        rgb(255, 244, 220),
        rgba(255, 255, 255, 0),
        white
    );
    border: 2px solid rgb(255, 244, 220);
}
#curriculum-card-2 button {
    color: rgb(240, 170, 0);
}
#curriculum-card-3 {
    background: linear-gradient(
        to bottom,
        rgb(238, 225, 255),
        rgba(255, 255, 255, 0),
        white
    );
    border: 2px solid rgb(238, 225, 255);
}
#curriculum-card-3 button {
    color: rgb(135, 0, 255);
}
.curriculum-button {
    text-align: center;
}
.curriculum-button i {
    font-size: 1.25rem;
    color: white;
    background: orange;
    padding: 20px;
    border-radius: 50px;
    margin-left: 8px;
}
/* 🔥=== === === === === === === === === === === === ===🔥 */
/*🌟 <== <<< <==>  Stories section Styles  <==> >>> ==> 🌟*/
.stories-container {
    background: url(../assets/bg.png);
    background: linear-gradient(
            to top,
            rgba(245, 180, 50, 0.3),
            rgba(255, 255, 255, 0.309)
        ),
        url(../assets/bg.png);
    background-size: contain;
    padding: 60px 140px;
}
.stories-header {
    color: black;
    font-size: 2.85rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px; /*📏 margin📏 */
}
.stories-cards-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}
.story-card {
    background: white;
    /* border: 5px solid; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.story-card img {
    width: 100%;
}
.story-title {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 28.76px;
    padding: 0px 55px 30px 35px;
}
#story-card-1 {
    grid-row: span 2;
}
#story-card-1 h3 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 70px 0 40px;
}

.story-info {
    padding: 40px 70px 35px 40px;
    color: rgb(102, 102, 102);
    font-weight: 500;
    line-height: 28.76px;
}
.stories-btn {
    text-align: center;
    margin-top: 80px;
}
.stories-btn button {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px 45px;
    border: none;
    border-radius: 12px;
    background-color: rgb(17, 17, 17);
    color: white;
}

.story-card-btn button {
    position: relative;
    color: white;
    padding: 10px 20px;
    font-family: "Raleway";
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    border-radius: 45px;
    /* margin-top: -100px; */
    top: -19px;
    right: -40px;
}
#story-card-1 .story-card-btn button {
    background: rgb(60, 216, 232);
}
#story-card-2 .story-card-btn button {
    background: darkorange;
}
#story-card-3 .story-card-btn button {
    background: rgb(96, 96, 211);
}
#story-card-4 .story-card-btn button {
    background: darkcyan;
}
#story-card-5 .story-card-btn button {
    background: plum;
}
#story-card-6 .story-card-btn button {
    background: rgb(96, 96, 211);
}
#story-card-7 .story-card-btn button {
    background: darkorange;
}

.hide {
    display: none;
}
